.sprite {
    background-image: url(icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-binnen {
    width: 256px;
    height: 256px;
    background-position: -5px -5px;
}

.sprite-frost {
    width: 256px;
    height: 256px;
    background-position: -271px -5px;
}

.sprite-gewitter {
    width: 256px;
    height: 256px;
    background-position: -537px -5px;
}

.sprite-glaette {
    width: 256px;
    height: 256px;
    background-position: -5px -271px;
}

.sprite-hitze {
    width: 256px;
    height: 256px;
    background-position: -271px -271px;
}

.sprite-nebel {
    width: 256px;
    height: 256px;
    background-position: -537px -271px;
}

.sprite-regen {
    width: 256px;
    height: 256px;
    background-position: -5px -537px;
}

.sprite-schnee {
    width: 256px;
    height: 256px;
    background-position: -271px -537px;
}

.sprite-see {
    width: 256px;
    height: 256px;
    background-position: -537px -537px;
}

.sprite-sturm {
    width: 256px;
    height: 256px;
    background-position: -803px -5px;
}

.sprite-tau {
    width: 256px;
    height: 256px;
    background-position: -803px -271px;
}

.sprite-uv {
    width: 256px;
    height: 256px;
    background-position: -803px -537px;
}
