.MMM-DWD-WarnWeather .sprite-frost {
	mask: url(icons/frost.svg);
	-webkit-mask: url(icons/frost.svg);
}
.MMM-DWD-WarnWeather .sprite-gewitter {
	mask: url(icons/gewitter.svg);
	-webkit-mask: url(icons/gewitter.svg);
}
.MMM-DWD-WarnWeather .sprite-glatteis {
	mask: url(icons/glatteis.svg);
	-webkit-mask: url(icons/glatteis.svg);
}
.MMM-DWD-WarnWeather .sprite-hitze {
	mask: url(icons/hitze.svg);
	-webkit-mask: url(icons/hitze.svg);
}
.MMM-DWD-WarnWeather .sprite-nebel {
	mask: url(icons/nebel.svg);
	-webkit-mask: url(icons/nebel.svg);
}
.MMM-DWD-WarnWeather .sprite-regen {
	mask: url(icons/regen.svg);
	-webkit-mask: url(icons/regen.svg);
}
.MMM-DWD-WarnWeather .sprite-schnee {
	mask: url(icons/schnee.svg);
	-webkit-mask: url(icons/schnee.svg);
}
.MMM-DWD-WarnWeather .sprite-sturm {
	mask: url(icons/sturm.svg);
	-webkit-mask: url(icons/sturm.svg);
}
.MMM-DWD-WarnWeather .sprite-tauwetter {
	mask: url(icons/tauwetter.svg);
	-webkit-mask: url(icons/tauwetter.svg);
}
.MMM-DWD-WarnWeather .sprite-uv {
	mask: url(icons/uv.svg);
	-webkit-mask: url(icons/uv.svg);
}
.MMM-DWD-WarnWeather .hidden {
  display: none;
}
.MMM-DWD-WarnWeather .status {
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}
.MMM-DWD-WarnWeather .weathericon {
  width: 40px;
  height: 40px;
  display: block;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}
.MMM-DWD-WarnWeather .warning {
	display: grid;
	grid-template-columns: 40px 1fr;
	column-gap: 10px;
	align-items: start;
	margin-bottom: 12px;
}
.MMM-DWD-WarnWeather .description {
	padding: 0;
	font-size: 15px;
	line-height: 20px;
	text-align: left;
}
.MMM-DWD-WarnWeather .headline {
	white-space: normal;
	overflow-wrap: anywhere;
	word-break: break-word;
}
.MMM-DWD-WarnWeather .duration {
	color: #999;
}
.MMM-DWD-WarnWeather br {
	height: 0;
}
